# Test

In [1]:
import pandas as pd

In [2]:
1+1

2

In [3]:
data = pd.DataFrame({"A":[1,2,3], "B":["a","a","b"]})
data

   A  B
0  1  a
1  2  a
2  3  b